<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/calendar.css">
        <link rel="stylesheet" href="/static/demo.css">
    </head>
    <body>
        <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
        <script src='/static/namespaces.js'></script>
        <script src='/static/validators.js'></script>
        <script src='/static/handlers.js'></script>
        <script src='/static/connection/auth.js'></script>
        <section class="book-page">
            <div class="col-md-6" style="background: #FAFAFB;">
                <div class="book__title">Забронировать Тойота
                    <span class="bool_title-price">6 500 ₽</span>
                    <span class="book__title-daily">/сутки</span>
                </div>
                <div id="dateListener" class="book__dates ex-inputs">
                    <div id="leftDateFrame" class="book__field-start book__field-wrap book__outline">
                        <input id="leftDate" class="ex-inputs-start book__field-value" placeholder="DD.MM.YYYY  10:00" readonly/>
                        <div class="book__field-subtitle">Дата получения</div>
                    </div>
                    <div id="rightDateFrame" class="book__field-end book__field-wrap">
                        <input id="rightDate" class="ex-inputs-end book__field-value" placeholder="DD.MM.YYYY 10:00" readonly/>
                        <div class="book__field-subtitle">Дата возврата</div>
                    </div>
                    <div class="row">
                        <div class="ex-inputs-picker"></div>
                    </div>
                </div>
                <input type="range" id="receiveTimeRange" disabled='disabled' max="96">
                <input type="range" id="returnTimeRange" disabled='disabled' max="96">
                <script src="/static/cal.js"></script>
                <script>
                    (function () {
                        const root = document.querySelector('.ex-inputs');
                        const txtStart = root.querySelector('.ex-inputs-start');
                        const txtEnd = root.querySelector('.ex-inputs-end');
                        const container = root.querySelector('.ex-inputs-picker');
                        // Inject DateRangePicker into our container
                        DateRangePicker.DateRangePicker(container).on('statechange', function (_, rp) { // Update the inputs when the state changes
                            var range = rp.state;
                            /**
                             * @author wlr986
                             * @description saving time data when change date
                            */
                            let startModifier = '10:00';
                            let endModifier = '10:00';
                            const currDateStart = $('#leftDate').val();
                            const dataArrStart = currDateStart.split(' ');
                            const currDateEnd = $('#rightDate').val();
                            const dataArrEnd = currDateEnd.split(' ');
                            if (currDateStart.length > 0 && dataArrStart.length > 1 && dataArrStart[1] != '') {
                                startModifier = dataArrStart[1];
                            }
                            if (currDateEnd.length > 0 && dataArrEnd.length > 1 && dataArrEnd[1] != '') {
                                endModifier = dataArrEnd[1];
                            }
                            txtStart.value = range.start
                                ? range.start.toLocaleDateString() + ' ' + startModifier
                                : '';
                            txtEnd.value = range.end
                                ? range.end.toLocaleDateString() + ' ' + endModifier
                                : '';
                            let leftDateInsert = false;
                            let rightDateInsert = false;
                            if (txtStart.value) {
                                $('#receiveTimeRange').attr('disabled', null);
                                leftDateInsert = true;
                            } else {
                                $('#receiveTimeRange').attr('disabled',true);
                            }
                            if (txtEnd.value) {
                                $('#returnTimeRange').attr('disabled', null);
                                rightDateInsert = true;
                            } else {
                                $('#returnTimeRange').attr('disabled',true);
                            }
                            if (leftDateInsert && rightDateInsert) {
                                state[dateObj.inx] = true;
                                coloringBorder(dateObj.inx, fieldClasses.validationPassed);
                            } else {
                                state[dateObj.inx] = false;
                                deColoringBorder(dateObj.inx, fieldClasses.validationPassed);
                            }
                        });
                        // When the inputs gain focus, show the date range picker
                        $('#dateListener').bind('click', showPicker);
                        // txtStart.addEventListener('focus', showPicker); txtEnd.addEventListener('focus', showPicker);
                        function showPicker() {
                            container.classList.add('ex-inputs-picker-visible');
                        }
                        // If focus leaves the root element, it is not in the date picker or the inputs, so we should hide the date picker we do
                        // this in a setTimeout because redraws cause temporary loss of focus.
                        let previousTimeout;
                        root.addEventListener('focusout', function hidePicker() {
                            clearTimeout(previousTimeout);
                            previousTimeout = setTimeout(function () {
                                if (! root.contains(document.activeElement)) {
                                    container.classList.remove('ex-inputs-picker-visible');
                                }
                            }, 10);
                        });
                    }());
                </script>
                <div class="book__field" id="receivePlace">
                    <div class="book__field-subtitle">Место получения</div>
                    <select id="receivePlaceSelect">
                        <option></option>
                        <option>
                            <span>
                                Владикавказ</span>
                            ул. Кырджалийская 8а
                        </option>
                        <option>
                            <span>
                                Аэропорт Беслан</span>
                        </option>
                        <option>
                            <span>
                                Аэропорт Магас</span>
                        </option>
                        <option>
                            <span>
                                Подача авто по городу
                            </span>
                        </option>
                    </select>
                </div>
                <div class="book__field" id="returnPlace">
                    <div class="book__field-subtitle">Место возврата</div>
                    <select id="returnPlaceSelect">
                        <option></option>
                        <option>
                            <span>
                                Владикавказ</span>
                            ул. Кырджалийская 8а
                        </option>
                        <option>
                            <span>
                                Аэропорт Беслан</span>
                        </option>
                        <option>
                            <span>
                                Аэропорт Магас</span>
                        </option>
                        <option>
                            <span>
                                Подача авто по городу
                            </span>
                        </option>
                    </select>
                </div>
                <!--
                    <div class="book__field-value"><span>Владикавказ</span> ул. Кырджалийская 8а</div>
                </div> <ul id="book__place-options" class="book__place-options">
                    <a href="">
                        <li>
                            Аэропорт Беслан
                            <span class="book__place-add-price">+ 1&nbsp;000₽</span>
                        </li>
                    </a>
                    <li>
                        Аэропорт Магас
                        <span class="book__place-add-price">+ 2&nbsp;000₽</span>
                    </li>
                    <li>
                        Подача авто по городу
                        <span class="book__place-add-price">+ 300₽</span>
                    </li>
                </ul> -->
                <!--
                        <div class="book__field" id="returnPlace">
                            <div class="book__field-subtitle">Место возврата</div>
                            <div class="book__field-value"><span>Владикавказ</span> ул. Кырджалийская 8а</div>
                        </div>
                        <ul id="book__place-options" class="book__place-options">
                            <a href="">
                                <li>
                                    Аэропорт Беслан
                                    <span class="book__place-add-price">+ 1&nbsp;000₽</span>
                                </li>
                            </a>
                            <li>
                                Аэропорт Магас
                                <span class="book__place-add-price">+ 2&nbsp;000₽</span>
                            </li>
                            <li>
                                Подача авто по городу
                                <span class="book__place-add-price">+ 300₽</span>
                            </li>
                        </ul>
                        <input type="range" id="returnTimeRange" disabled="disabled" max="96"> -->
                <div class="book__subtitle">Ваши данные</div>
                <form autocomplete="on">
                    <div class="book__field-wrap">
                        <input class="book__field" id="customerName" name="name" type="text" required placeholder="Введите имя"/>
                        <div class="book__field-subtitle">Имя и фамилия</div>
                    </div>
                    <div class="book__field-wrap">
                        <input class="book__field" id="customerPhone" name="phone" type="tel" required placeholder="+7"/>
                        <div class="book__field-subtitle">Телефон</div>
                    </div>
                </form>
                <div id="lawAgreement">
                    <input type="checkbox" class="book__checkbox" id="age" value="yes">
                    <label id="proofOfAgeAndExperience" class="book__radio" for="age">Мне больше 23 лет и мой водительский стаж больше 3 лет</label>
                    <input type="checkbox" class="book__checkbox" id="agree" value="yes">
                    <label id="agreementWithPolicy" class="book__radio" for="agree">Я согласен с Политикой обработки данных.</label>
                </div>
                <div class="book__checkup">
                    Аренда Toyota RAV4 на 2 дня (19.07 — 21.07) 13 500 ₽<br> Залог (возвращаем полностью по окончанию аренды) + 5 000 ₽
                </div>
                <button class="book__btn" type="submit" id="bookButtonId">Забронировать</button>
            </div>
        </div>
    </body>
</html></div></section><script src="/static/bundle.js"></script></body></html>